@font-face {
  font-family: "Alpha Lyrae";
  src: url("/fonts/AlphaLyrae-Medium.woff2") format("woff2"),
    url("/fonts/AlphaLyrae-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
